<html>
<body>
<div class="container-fluid px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-sm-6 d-none d-sm-block bg-image"></div>
              <div class="col-sm-6 p-4">
                <div class="text-center">
                  <div class="h3 fw-light">Contact Form</div>
                  <p class="mb-4 text-muted"></p>
                </div>

  
                <form id="contactForm" data-sb-form-api-token="API_TOKEN" (ngSubmit)="saveQuery()" [formGroup]="contactform" >
  
                  <!-- Name Input -->
                  <div class="form-floating mb-3">
                    <input class="form-control" id="userName" type="text" placeholder="Name" data-sb-validations="required" formControlName="username" [(ngModel)]="selectedQuery.userName">
                    <label for="name">Name</label>
                    <small style="color: brown;" *ngIf="username && username.invalid && username.touched">*Enter Correct Name</small>
                  </div>
  
                  <!-- Email Input -->
                  <div class="form-floating mb-3">
                    <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" formControlName="useremail" [(ngModel)]="selectedQuery.emailAddress">
                    <label for="emailAddress">Email Address</label>
                    <small style="color: brown;" *ngIf="useremail && useremail.invalid && useremail.touched">*Enter Correct EmailID</small>
                  </div>
  
                  <!-- Message Input -->
                  <div class="form-floating mb-3">
                    <textarea class="form-control" id="feedbackMessages" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required" formControlName="message" [(ngModel)]="selectedQuery.feedbackMessages"></textarea>
                    <label for="messages">Message</label>
                    <small style="color: brown;" *ngIf="message && message.invalid && message.touched">*Enter 8 Digit Password</small>
                  </div>
  
                  <!-- Submit button -->
                  <div class="d-grid" id="submitbox">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit"  [disabled]="contactform.invalid">Submit</button>
                  </div><br>
                  <h2  style="color: green; "  *ngIf="Querystatus">Thanks for Your Valuable Feedback!! </h2>
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" id="HomeButton" type="submit" routerLink="/userhome">Home</button>
                  </div>
                </form>
                <!-- End of contact form -->
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
 

</body>
</html>