
    <img src="assets/bg1.jpg" alt="bg" height="100%" width="100%" routerLink="/Home">
    <div id="bg">
      <br><br>
      <form id="loginform" class="col-lg-6 col-md-6 col-12">
        <h1 id="loginhead"  ><img src="assets/logo.png" height="30px" width="43px" >QuickBus</h1>
        <a routerLink="signin"><button type="submit" class="btn btn-primary" id="signlater">SignIn</button></a>
        <a routerLink="registration"><button type="submit" class="btn btn-primary" id="signlater">SignUp</button></a>
        <a routerLink="adminlogin"><button type="submit" class="btn btn-primary" id="signlater">Admin</button></a>
        <a routerLink="/userhome" id="skip"><button type="submit" class="btn btn-primary" id="signlater">Skip</button></a>
      </form>
